@model SurveyViewModel

@{
    ViewData["Title"] = "SolveSurvey";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger col-sm-12 col-md-10 offset-md-1 col-lg-6 mx-lg-auto" style="padding:20px; border-radius:10px;"></div>

<div class="row border border-2 p-3" style="border-radius:20px;">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 mx-lg-auto">

        <div class="text-center mb-4" id="endOfSurvey">
            <h3>@Model.Name Anketi</h3>
        </div>

        @{
            int questionCount = 1;
            int answerCount = 1;
            int childQuestionCount = 1;
            int childAnswerCount = 100;
        }

        @if (Model.Questions == null || Model.Questions.Count < 1)
        {
            <h5 class="text-center text-warning">Anketenizde henüz soru bulunmamakta, lütfen yetkili ile iletişime geçiniz.</h5>
        }
        else
        {

            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                if (Model.Questions[i].ParentQuestionId == null)
                {
                    <div class="border border-3 p-3 text-center shadow mb-3 question-block d-none" style="border-radius:20px;">

                        <h3>@(questionCount)) @Model.Questions[i].Text</h3>

                        <input type="hidden" asp-for="@Model.Questions[i].Id" />
                        <input type="hidden" asp-for="@Model.Id" />


                        @for (int answer = 0; answer < Model.Questions[i].Answers.Count; answer++)
                        {
                            <div class="form-check d-flex justify-content-center my-3">
                                <input class="form-check-input" type="radio" id="@answerCount" onclick="ClickMe('@Model.Questions[i].Answers[answer].Id', '@Model.Questions[i].Id', '@Model.Id')" asp-for="@Model.Questions[i].AnswrId" value="@Model.Questions[i].Answers[answer].Id">
                                <label class="form-check-label ms-2" for="@answerCount">
                                    @Model.Questions[i].Answers[answer].Text
                                </label>
                            </div>

                            @if(answer == (Model.Questions[i].Answers.Count - 1))
                            {
                                <button type="button" class="btn btn-outline-primary mt-3" style="border-radius:20px;" onclick="SkipQuestion('@Model.Questions[i]!.ChildQuestions!.Count')">Bu soruyu atla</button>
                            }

                            answerCount++;

                            <script type="text/javascript">

                                function SkipQuestion(childQuestionsCount){

                                    if(childQuestionsCount > 0){

                                        console.log(childQuestionsCount)

                                        let firstMainQuestion = $(".question-block:visible");
                                        let currentQuestion = $(".question-block:visible");
                                        let nextQuestion;

                                        for(let i = 0; i < childQuestionsCount; i++){

                                            nextQuestion = currentQuestion.next(".question-block");
                                            currentQuestion = nextQuestion;
                                        };

                                        

                                        if (nextQuestion.length > 0) {

                                            firstMainQuestion.hide();
                                            nextQuestion = currentQuestion.next(".question-block");
                                            nextQuestion.removeClass("d-none");
                                        } else {

                                            currentQuestion.hide();

                                            // Eğer son soru ise, burada yapılacak işlemleri ekleyebilirsiniz.
                                            let endSurvey = '<h5 class="text-success">Anketi tamamladığınız için teşekkürler, anasayfaya yönlendiriliyorsunuz</h5>';
                                            $("#endOfSurvey").append(endSurvey);
                                            setTimeout(function () {

                                                window.location = "/Responder/Survey/Index";
                                            }, 4000);
                                        }
                                    }
                                    else{

                                        let currentQuestion = $(".question-block:visible");
                                        let nextQuestion = currentQuestion.next(".question-block");

                                        if (nextQuestion.length > 0) {
                                            currentQuestion.hide();
                                            nextQuestion.removeClass("d-none");
                                        } else {
                                            currentQuestion.hide();

                                            // Eğer son soru ise, burada yapılacak işlemleri ekleyebilirsiniz.
                                            let endSurvey = '<h5 class="text-success">Anketi tamamladığınız için teşekkürler, anasayfaya yönlendiriliyorsunuz</h5>';
                                            $("#endOfSurvey").append(endSurvey);
                                            setTimeout(function () {

                                                window.location = "/Responder/Survey/Index";
                                            }, 4000);
                                        }
                                    };
                                };

                                function ClickMe(answerId, questionId, surveyId) {

                                    let formData = new FormData();

                                    formData.set("QuestionId", questionId);

                                    formData.set("AnswerId", answerId);

                                    formData.set("SurveyId", surveyId);

                                    $(event.target).closest('.form-check').prop('disabled', true);

                                    $.ajax({

                                        url: "/Responder/Survey/QuestionAnswer",
                                        data: formData,
                                        type: "POST",
                                        cache: false,
                                        contentType: false,
                                        processData: false,
                                        success: function (data) {

                                            let successMessage = data.message;
                                            console.log(successMessage);

                                            let currentQuestion = $(".question-block:visible");
                                            let nextQuestion = currentQuestion.next(".question-block");

                                            if (nextQuestion.length > 0) {
                                                currentQuestion.hide();
                                                nextQuestion.removeClass("d-none");
                                            } else {
                                                currentQuestion.hide();

                                                // Eğer son soru ise, burada yapılacak işlemleri ekleyebilirsiniz.
                                                let endSurvey = '<h5 class="text-success">Anketi tamamladığınız için teşekkürler, anasayfaya yönlendiriliyorsunuz</h5>';
                                                $("#endOfSurvey").append(endSurvey);
                                                setTimeout(function () {

                                                    window.location = "/Responder/Survey/Index";
                                                }, 4000);
                                            }
                                        },
                                        error: function (data) {

                                            let errorMessage = data.responseJSON.message;
                                            console.log(errorMessage);
                                        }
                                    });
                                };



                            </script>
                        }
                    </div>
                    @if (Model.Questions[i]!.ChildQuestions!.Count > 0)
                    {                  

                        @for (int childQuestion = 0; childQuestion < Model.Questions[i]!.ChildQuestions!.Count; childQuestion++)
                        {
                            <div class="border border-3 p-3 text-center shadow mb-3 question-block d-none" style="border-radius:20px;">

                                <h5 class="mb-3 text-success">Önceki soruya bağlı sorular @($"{childQuestion + 1}/{Model.Questions[i]!.ChildQuestions!.Count}")</h5>

                                <h3>@(childQuestionCount)) @Model.Questions[i].ChildQuestions![childQuestion].Text</h3>

                                <input type="hidden" asp-for="@Model.Questions[i].ChildQuestions![childQuestion].Id" />

                                @for (int childAnswer = 0; childAnswer < Model.Questions![i].ChildQuestions![childQuestion].Answers.Count; childAnswer++)
                                {
                                    <div class="form-check d-flex justify-content-center my-3">
                                        <input class="form-check-input" type="radio" id="@childAnswerCount" onclick="ClickMe('@Model.Questions[i].ChildQuestions![childQuestion].Answers[childAnswer].Id', '@Model.Questions[i].ChildQuestions![childQuestion].Id', '@Model.Id')" asp-for="@Model.Questions[i].ChildQuestions![childQuestion].AnswrId" value="@Model.Questions[i].ChildQuestions![childQuestion].Answers[childAnswer].Id">
                                        <label class="form-check-label ms-2" for="@childAnswerCount">
                                            @Model.Questions[i].ChildQuestions![childQuestion].Answers[childAnswer].Text
                                        </label>
                                    </div>

                                    childAnswerCount++;
                                }

                                <script type="text/javascript">

                                    function ClickMe(answerId, questionId, surveyId) {

                                        let formData = new FormData();

                                        formData.set("QuestionId", questionId);

                                        formData.set("AnswerId", answerId);

                                        formData.set("SurveyId", surveyId);

                                        $(event.target).closest('.form-check').prop('disabled', true);

                                        $.ajax({

                                            url: "/Responder/Survey/QuestionAnswer",
                                            data: formData,
                                            type: "POST",
                                            cache: false,
                                            contentType: false,
                                            processData: false,
                                            success: function (data) {

                                                let successMessage = data.message;
                                                console.log(successMessage);

                                                let currentQuestion = $(".question-block:visible");
                                                let nextQuestion = currentQuestion.next(".question-block");

                                                if (nextQuestion.length > 0) {
                                                    currentQuestion.hide();
                                                    nextQuestion.removeClass("d-none");
                                                } else {
                                                    currentQuestion.hide();

                                                    // Eğer son soru ise, burada yapılacak işlemleri ekleyebilirsiniz.
                                                    let endSurvey = '<h5 class="text-success">Anketi tamamladığınız için teşekkürler, anasayfaya yönlendiriliyorsunuz</h5>';
                                                    $("#endOfSurvey").append(endSurvey);
                                                    setTimeout(function () {

                                                        window.location = "/Responder/Survey/Index";
                                                    }, 4000);
                                                }
                                            },
                                            error: function (data) {

                                                let errorMessage = data.responseJSON.message;
                                                console.log(errorMessage);
                                            }
                                        });
                                    };



                                </script>

                            </div>
                        }
                    }

                    questionCount++;
                }
            }
        }

    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $(".question-block:first").removeClass("d-none"); // İlk başta ilk soru dışındaki blokları gizle

        });

    </script>
}