@model SurveyViewModel

@{
    ViewData["Title"] = "SolveSurvey";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger col-sm-12 col-md-10 offset-md-1 col-lg-6 mx-lg-auto" style="padding:20px; border-radius:10px;"></div>

<div class="row border border-2 p-3" style="border-radius:20px;">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 mx-lg-auto">

        <div class="text-center mb-4">
            <h3>@Model.Name Anketi</h3>
        </div>

        @{
            int questionCount = 1;
            int answerCount = 1;
            int childQuestionCount = 1;
            int childAnswerCount = 100;
        }

        @if (Model.Questions == null || Model.Questions.Count < 1)
        {
            <h5>Anketenizde henüz soru bulunmamakta, soru eklemek için <a asp-area="Creater" asp-controller="Survey" asp-action="AddQuestionToSurvey" asp-route-surveyId="@Model.Id">tıklayınız...</a></h5>
        }
        else
        {

            <form method="post" class="text-center">

                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    if (Model.Questions[i].ParentQuestionId == null)
                    {
                        <div class="border border-3 p-3 text-center shadow mb-3" style="border-radius:20px;">

                            <h3>@(questionCount)) @Model.Questions[i].Text</h3>

                            <input type="hidden" asp-for="@Model.Questions[i].Id"/>
                            <input type="hidden" asp-for="@Model.Id" />

                            @for (int answer = 0; answer < Model.Questions[i].Answers.Count; answer++)
                            {
                                <div class="form-check d-flex justify-content-center my-3">
                                    <input class="form-check-input" type="radio" id="@answerCount" asp-for="@Model.Questions[i].AnswrId" value="@Model.Questions[i].Answers[answer].Id">
                                    <label class="form-check-label ms-2" for="@answerCount">
                                        @Model.Questions[i].Answers[answer].Text
                                    </label>
                                </div>

                                answerCount++;
                            }

                            @if(Model.Questions[i]!.ChildQuestions!.Count > 0)
                            {
                                <h5 class="mb-3 text-success">Yukarıdaki soruya bağlı sorular</h5>

                                @for (int childQuestion = 0; childQuestion < Model.Questions[i]!.ChildQuestions!.Count; childQuestion++)
                                {
                                    <h3>@(childQuestionCount)) @Model.Questions[i].ChildQuestions![childQuestion].Text</h3>

                                    <input type="hidden" asp-for="@Model.Questions[i].ChildQuestions![childQuestion].Id" />

                                    @for (int childAnswer = 0; childAnswer < Model.Questions![i].ChildQuestions![childQuestion].Answers.Count; childAnswer++)
                                    {
                                        <div class="form-check d-flex justify-content-center my-3">
                                            <input class="form-check-input" type="radio" id="@childAnswerCount" asp-for="@Model.Questions[i].ChildQuestions![childQuestion].AnswrId" value="@Model.Questions[i].ChildQuestions![childQuestion].Answers[childAnswer].Id">
                                            <label class="form-check-label ms-2" for="@childAnswerCount">
                                                @Model.Questions[i].ChildQuestions![childQuestion].Answers[childAnswer].Text
                                            </label>
                                        </div>

                                        childAnswerCount++;
                                    }
                                }
                            }

                        </div>

                        questionCount++;
                    }                  
                }

                <button type="submit" class="btn btn-outline-success mt-2 w-50 mx-auto" style="border-radius:20px;">Anketi Çöz</button>

            </form>

        }

    </div>
</div>


