@model SurveyViewModel

@{
    ViewData["Title"] = "SurveyDetail";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger col-sm-12 col-md-10 offset-md-1 col-lg-6 mx-lg-auto" style="padding:20px; border-radius:10px;"></div>

<div class="row border border-2 p-3" style="border-radius:20px;">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 mx-lg-auto">

        <div class="text-center mb-4">
            <h3>@Model.Name Anket Detayı</h3>
        </div>

        @{
            int questionCount = 1;
        }

        @if(Model.Questions == null || Model.Questions.Count < 1)
        {
            <h5>Anketenizde henüz soru bulunmamakta, soru eklemek için <a asp-area="Creater" asp-controller="Survey" asp-action="AddQuestionToSurvey" asp-route-surveyId="@Model.Id">tıklayınız...</a></h5>
        }
        else
        {

            @foreach (QuestionViewModel question in Model.Questions.Where(x=>x.ParentQuestionId == null))
            {
                <div class="border border-3 p-3 text-center shadow mb-3" style="border-radius:20px;">

                    <h3>@(questionCount))  @question.Text</h3>
                    

                    @foreach (AnswerViewModel answer in question.Answers)
                    {
                        <h5>@answer.Text</h5>
                    }

                    <p>Soru grubu: <span class="text-primary fw-bolder">@question.Group.Code</span>  Puanı: <span class="text-primary fw-bolder">@question.Group.Score</span></p>
                    

                    @if(question.ChildQuestions != null && question.ChildQuestions.Count > 0)
                    {
                        <hr>
                        <h5 class="mb-3 text-success">Yukarıdaki soru cevaplandığında açılacak sorular</h5>

                        int childQuestionCount = 1;

                        @foreach (QuestionViewModel childQuestion in question.ChildQuestions)
                        {
                            <h3>@(childQuestionCount)) @childQuestion.Text</h3>
                            

                            @foreach (AnswerViewModel childAnswer in childQuestion.Answers)
                            {
                                <h5>@childAnswer.Text</h5>
                            }

                            <p>Soru grubu: <span class="text-primary fw-bolder">@childQuestion.Group.Code</span>  Puanı: <span class="text-primary fw-bolder">@childQuestion.Group.Score</span></p>
                            <hr />

                            ++childQuestionCount;
                        }
                    }

                </div>

                questionCount++;
            }
            
        }

    </div>
</div>
